<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header class="ae-container-fluid ae-container-fluid--full rk-header">
    <input class="rk-mobile-menu"
            id="mobile-menu"
            type="checkbox"> <label for="mobile-menu"><svg>
    <use xlink:href="assets/img/symbols.svg#bar"></use></svg> <svg>
    <use xlink:href="assets/img/symbols.svg#bar"></use></svg> <svg>
    <use xlink:href="assets/img/symbols.svg#bar"></use></svg></label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"><a routerlink="home">{{_servicio.info.titulo}}</a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item"
              routerLinkActive="active">
            <a class="rk-menu__link"
                routerLink="home">Inicio</a>
          </li>
          <li class="rk-menu__item"
              routerLinkActive="active">
            <a class="rk-menu__link"
               routerLink="misdesarrollos">Mis Desarrollos</a>
          </li>
          <li class="rk-menu__item"
              routerLinkActive="active">
            <a class="rk-menu__link"
               routerLink="about">Sobre mí</a>
          </li>
        </ul>
        <form class="rk-search">
          <input class="rk-search-field"
                id="urku-search"
                placeholder="Search"
                type="text"> <label for="urku-search"><svg>
          <use xlink:href="assets/img/symbols.svg#icon-search"></use></svg></label>
        </form>
      </nav>
    </div>
  </header>
</body>
</html>
