<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <footer class="ae-container-fluid rk-footer">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item">
            <a class="rk-menu__link"
               routerLink="home">Inicio</a>
          </li>
          <li class="rk-menu__item">
            <a class="rk-menu__link"
               routerLink="about">About</a>
          </li>
        </ul>
        <p class="rk-footer__text rk-footer__copy"><span class="ae-u-bold">©</span> <span class="ae-u-bolder">{{ anio }} {{_servicio.info.titulo}}</span> Todos los derechos reservados.</p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center">
        <a class="rk-social-btn"
           [href]="_servicio.info.linkedin"
           target="_blank"><img height="32" src="https://unpkg.com/simple-icons@latest/icons/linkedin.svg" width="32"></a>
        <a class="rk-social-btn"
           [href]="_servicio.info.github"
           target="_blank"><img height="32" src="https://unpkg.com/simple-icons@latest/icons/github.svg" width="32"></a>
        <a class="rk-social-btn"
           [href]="_servicio.info.bitbucket"
           target="_blank"><img height="32" src="https://unpkg.com/simple-icons@latest/icons/bitbucket.svg" width="32"></a>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact"><span class="ae-u-bold">Email:</span> <span class="ae-u-bolder"><a class="rk-dark-color"
           href="mailto:{{_servicio.info.email}}">{{_servicio.info.email}}</a></span></p>
      </div>
    </div>
  </footer>
</body>
</html>
